
    <div id = "player2">
        <div id="player">
   
          </div>  
    </div>
    

<div class="clock">
  <!-- HOUR -->
  <div class="numbers">
    <p class="subnumber">{{horas}}</p>
    <p class="placeholder">88</p>
  </div>

  <div class="colon">
    <p>:</p>
  </div>

  <!-- MINUTE -->
  <div class="numbers">
    <p class="subnumber">{{minutos}}</p>
    <p class="placeholder">88</p>
  </div>

  <div class="colon">
    <p>:</p>
  </div>

  <!-- SECOND -->
  <div class="numbers">
    <p class="subnumber">{{segundos}}</p>
    <p class="placeholder">88</p>
  </div>
       

</div><!-- END CLOCK -->
  
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

  <h2 class = "text">{{datosHora1}}</h2>
  <h2 class = "text">{{datosHora2}}</h2>
  <h2 class = "text">{{datosHora3}}</h2>
  <h2 class = "text">{{datosHora4}}</h2>
  <h2 class = "text">{{datosHora5}}</h2>

   <!--           
          <video id="video1"  autoplay loop
          
          
      
            src="../../assets/video2.mp4"  type="video/mp4">
            Your browser does not support the video tag.
        </video>
       src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761" type="video/mp4">
       
        <source src="https://www.youtube.com/watch?v=dP2sg2YM8lM" type="video/youtube"-->


          
