/*DIGITAL CLOCK FONT*/
@font-face{
    font-family:'digital-7';
    src: url('./fonts/digital-7.ttf');
   }
   

   

   main {
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    border: solid 5px #ffffff;
}


  
   /* CLOCK */
   div.clock {
       margin: 5px 0;
 
    }
      
   div.clock div{
       display: inline-block;
       position: relative;
       font-size: 15em;
   }
   
   div.clock div .subnumber{

       
       position: relative;
       z-index: 100;
   }
   
   div.clock .placeholder {
       color: #131212;
       position: absolute;
       top: 0;
       z-index: 50;
   }/*END CLOCK*/
   
   #player2 {
    /*  making the video fullscreen  */
      position: fixed;
      right: 0; 
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      width: auto; 
      height: auto;
      z-index: -100;
    }