/* You can add global styles to this file, and also import other style files */
/*DIGITAL CLOCK FONT*/
@font-face{
    font-family:'digital-7';
    src: url('./app/fonts/digital-7.ttf');
   }
   
   * {
       margin: 0;
       padding: 0;
   }
   
   body {
       color: #ffffff;
       background-color: #000000;
       font-family: 'digital-7', sans-serif;
    
   }
   
   main {
       text-align: center;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       padding: 15px;
       border: solid 5px #ffffff;
   
   }
   
   h1{
    font-size: 4em;
    
    }
    h2{
<<<<<<< HEAD
        font-size: 3em;
    }        
=======
        font-size: 2.5em;
        
        }
>>>>>>> 73ba7848ed44761b82724133ecb5f61df34949fb
